.idea/
core/
modules/*
!modules/custom/
profile/
sites/
themes/
vendor/
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.ht.router.php
.htaccess
autoload.php
composer.json
composer.lock
example.gitignore
index.php
LICENSE.txt
questionnaire_last.sql
README.txt
robots.txt
update.php
web.config